body {
    background-color: #ece8e3
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.card-container {
    padding-top: 5px;
}

.brand-logo {
    margin: auto 60px;
}

.fa-small {
    font-size: 16px !important;
}